.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tiff
*.rar
*.dat
/output/results/*.csv
data/Article_documents
data/Maize-NIRS-GBS-main
*.all.rds
/output/tables/prediction_cv1_cv2_raw.csv
/output/tables/prediction_cv0_cv00_raw.csv
/output/tables/prediction_cv1_cv2_by_rep_fold_env.csv
analysis/analysis.Rmd
*.R
/output/tables/pipeline_review
/output/variance_components/bglr_runs
/output/results/bglr_runs