# R package requirements used across analysis and helper scripts
BGLR
data.table
doParallel
dplyr
foreach
grid
gridExtra
lubridate
MASS
nasapower
patchwork
plyr
readr
scales
stringr
tidyverse
workflowr
